.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: white;
    border: .1vmin solid black;
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListItem .name {
    font-size: 2vw;
    text-align: center;
    color: black;
    font-family:'Courier New', Courier, monospace;
  }

  .MenuListItem img {
      height: 115px;
      width: 150px;
      align-items: center;
      margin-left: 35px;
      border-radius: 5px;
      border: 1px solid black;
  }