/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
  --pale: #D4C4C5;
  --rufous: #A72608;
  --blush: #DB959D;
  --black: #000000;
  --smoky: #12110F;
  --skobeloff: #297373;
  --aqua: #85FFC7;
  --oxford: #102542;
  --size: 400px;
  --blue: #aad5ff;
  --lb: rgba(0, 0, 0, 0.5);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--oxford);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.date {
  float: right;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: #E2E8F0;
  border: .1vmin solid black;
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid black;
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: black;
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--oxford);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid white;
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
  height: 40px;
}

button.btn-sm:hover {
  transition: all 200ms ease-in-out 0ms;
  background-color: var(--skobeloff);
}

.btn-add:hover {
  transition: all 200ms ease-in-out 0ms;
  background-color: var(--skobeloff);
}

.btn-add {
  font-size: 15px;
}

a.button:hover {
  transition: all 200ms ease-in-out 0ms;
  background-color: var(--skobeloff);
}

button.btn-xs {
  font-size: 1.5vmin;
  padding: .4vmin .5vmin;
  width: 15px;
}

button.btn-xs:hover {
  transition: all 240ms ease-in-out 0s;
  background-color: var(--skobeloff);
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #E2E8F0;
  border: 1px solid black;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

button[type="submit"]:hover {
  transition: all 200ms ease-in-out 0ms;
  background: var(--skobeloff);
}

.Gyoza {
  background-image: url(https://www.tastythais.com/wp-content/uploads/2020/05/Homemade-Gyoza-Pan-Fried-Steamed-1200.jpg)
}

.Edamame {
  background-image: url(https://images-gmi-pmc.edge-generalmills.com/de062ca6-eb9e-463f-afec-35dbbfedd525.jpg)
}

.Miso {
  background-image: url(https://www.pressurecookrecipes.com/wp-content/uploads/2021/05/miso-soup.jpg)
}

.Crab {
  background-image: url(https://www.wellseasonedstudio.com/wp-content/uploads/2020/07/Kani-salad-recipe-in-a-bowl-with-tobiko.jpg)
}

.California {
  background-image: url(https://www.pressurecookrecipes.com/wp-content/uploads/2021/02/california-roll.jpg)
}

.Rainbow {
  background-image: url(https://www.mashed.com/img/gallery/rainbow-roll-what-you-should-know-before-ordering/l-intro-1618943604.jpg)
}

.Tempura {
  background-image: url(https://www.mashed.com/img/gallery/shrimp-tempura-roll-what-you-should-know-before-ordering/l-intro-1628971551.jpg)
}

.Tuna {
  background-image: url(https://tiger-corporation-us.com/wp-content/uploads/2019/08/spicy-tuna-roll-900x600.jpg)
}

.Dragon {
  background-image: url(https://mysushikitchen.com/wp-content/uploads/2021/02/Shaggy-Dog-Roll-1-1024x576.jpg)
}

.Special {
  background-image: url(https://sushi-ato.com/wp-content/uploads/2021/01/Ceviche-Roll.jpg)
}

.Spider {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/bb/56/2b/fried-sushi-big-roll.jpg)
}

.Tonkatsu {
  background-image: url(https://i1.wp.com/seonkyounglongest.com/wp-content/uploads/2020/09/Easy-Tonkotsu-26-mini.jpg?fit=1000%2C667&ssl=1)
}

.Tsukemen {
  background-image: url(https://thefyslife.com/wp-content/uploads/2021/10/Tsukemen-Ramen.jpg)
}

.Pho {
  background-image: url(https://assets.bonappetit.com/photos/601185e9e0a941bb1291e9e2/1:1/w_2560%2Cc_limit/GoLive-Beef-Pho.jpg)
}

.Egg {
  background-image: url(https://drivemehungry.com/wp-content/uploads/2021/09/ramen-eggs-soy-sauce-marinade-1.jpg)
}

.Seaweed {
  background-image: url(https://www.asiancaucasian.com/wp-content/uploads/2021/01/Japanese-Seaweed-Salad-w-Sushi-3_600x400.jpg)
}

.Cheesecake {
  background-image: url(https://www.foxyfolksy.com/wp-content/uploads/2016/10/japanese-cheesecake-t.jpg)
}

.Crepe {
  background-image: url(https://www.justonecookbook.com/wp-content/uploads/2019/11/Matcha-Mille-Crepe-Cake-4620-I-1-500x375.jpg)
}

.Ice {
  background-image: url(https://www.rotinrice.com/wp-content/uploads/2011/08/MatchaIceCream-1.jpg)
}

.Mochi {
  background-image: url(https://www.justonecookbook.com/wp-content/uploads/2019/07/Green-Tea-Mochi-9189-I.jpg)
}

.Whiskey {
  background-image: url(https://whisky.suntory.com/sites/default/files/2019-02/best-enjoyed-hibiki-jh.png)
}

.Kirin {
  background-image: url(https://www.newyorkbeverage.com/wp-content/uploads/2021/03/kirinichibancans.jpg)
}

.Midori {
  background-image: url(https://makemeacocktail.com/images/cocktails/8791/midori-sour-720x720-recipe.jpg);
  justify-content: center;
}

.Sake {
  background-image: url(https://www.kanpai.eu/img/wat-is-sake-kanpai.jpg)
}

.Sapporo {
  background-image: url(https://beverages2u.com/wp-content/uploads/2021/06/sapporo-12-oz-can_01.jpg)
}

